.img_logo{
-webkit-box-shadow: 1px 2px 55px 10px rgba(188,83,83,0.76);
-moz-box-shadow: 1px 2px 55px 10px rgba(188,83,83,0.76);
box-shadow: 1px 2px 55px 10px rgba(188,83,83,0.76);
margin-bottom: 40px;
}
